@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    font-family: "Shippori Mincho", serif;
    font-style: normal;
    text-decoration: none;
}

/* 背景画像 */
html {
    background-image: url(../img/背景.png);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 700px;
    background-image: url(../img/footer.png);
    background-size: cover;
    justify-content: space-between;
}

.header_2 {
    display: flex;
}

.logo {
    margin: auto;
    width: 200px;
}

.logo img {
    margin-top: 3%;
    margin-right: 15px;
}

.logo_2 {
    margin: auto;
}

.logo_2 p {
    margin: auto;
    margin-right: 50px
}

/* ページ上部の画像仮枠 */
.animation_back img {
    width: 100%;
    height: 100%;
    padding: 0 10px 10px 10px;
}

/* hrのリセットcss & デザイン*/
hr {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.hr {
    margin-top: 30px;
    border-top: 9px double #B8A36C;
}


/* 画面最上部に遷移するボタン */
.button {
    width: 70px;
    height: 70px;
    background-color: #D9D9D9;
    border-radius: 1000px;
    text-align: center;
    opacity: 0.7;
    border: solid #B8A36C;
    font-weight: 600;
    position: sticky;
    top: 10px;
    display: block;
    margin-left: auto;
    margin-right: 1%;
    margin-top: 1%;
}

.button span {
    color: black;
    width: 100%;
    font-size: 60px;
    margin: auto;
}


/* お知らせ */
.notice {
    margin: 50px 60px 30px 60px;
    padding: 30px 30px 50px 30px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.notice_h1 {
    margin-top: 20px;
    margin-right: 180px;
    text-align: center;
}

.notice_h1 button {
    margin-top: 30px;
    padding: 12px;
    border-radius: 6px;
    background-color: white;
    position: relative;
    z-index: 1;
    transition: 1s;
}

.notice_h1 button::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #333;
    transform-origin: 100%;
    transform: scaleX(0);
    transition: transform ease .5s;
}

.notice_h1 button:hover {
    color: #fff;
}

.notice_h1 button:hover::before {
    transform-origin: 0%;
    transform: scaleX(1);
}

.notice_table td {
    padding: 18px;
    text-decoration: underline;
}