@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    font-family: "Shippori Mincho", serif;
    font-style: normal;
    text-decoration: none;
}

/* 背景画像 */
html {
    background-image: url(../img/背景.png);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 700px;
    background-image: url(../img/footer.png);
    background-size: cover;
    justify-content: space-between;
}

.header_2 {
    display: flex;
}

.logo {
    margin: auto;
    width: 200px;
}

.logo img {
    margin-top: 3%;
    margin-right: 15px;
}

.logo_2 {
    margin: auto;
}

.logo_2 p {
    margin: auto;
    margin-right: 50px
}


/* 画像js */
html {
    scroll-behavior: smooth;
}

.animation_back {
    text-align: center;
}

.animation_back img {
    width: 100%;
    height: 100%;
    padding: 0 10px 10px 10px;
}