@charset "utf-8"; 
/* 画像js */
html{
    scroll-behavior: smooth;
}

.animation_back {
    text-align: center;
}

.animation_back img {
    width: 100%;
    height: 100%;
}


/* hrのリセットcss */
hr {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.hr {
    margin-top: 30px;
    border-top: 9px double #B8A36C;
}


/**  main1  **/
.main {
    display: flex;
}

.main1_div img {
    margin-top: 100px;
    margin-left: 140px;
    position: absolute;
}

.main1_p {
    margin-top: 330px;
    margin-left: 150px;
}

.main1_p p {
    font-weight: 600;
}

.main1_a {
    margin-top: 50px;
}

.main1_img {
    margin-left: 80px;
}

.span_tag {
    color: #63173B;
}

/* main2 */

.main2 img {
    margin-top: 110px;
    position: absolute;
}

/* main2のyoutube */
.youtube {
    position: relative;
    padding-top: 140px;
    text-align: center;
}

/* titleの線 */
.title-border {
    font-size: 33px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.title-border:before,
.title-border:after {
    content: "";
    flex-grow: 1;
    border-top: 9px double #B8A36C;
}

.title-border:before {
    margin-right: 3rem;
}

.title-border:after {
    margin-left: 3rem;
    transform: translate(-50%, -50%);
    color: #fff;
}

.button {
    width: 70px;
    height: 70px;
    background-color: #D9D9D9;
    border-radius: 1000px;
    text-align: center;
    opacity: 0.7;
    border: solid #B8A36C;
    font-weight: 600;
    position: sticky;
    top: 10px;
    display: block;
    margin-left: auto;
    margin-right: 1%;
    margin-top: 1%;
}

.button span{
    color: black;
    width: 100%;
    font-size: 60px;
    margin: auto;

}